<%= form_with(model: [ @exam, @exam.questions.build ], local: true) do |form| %>
  <p>
    <%= form.label :question_description %><br>
    <%= form.text_area :question_description, :cols => "100", :rows => "10" %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>