<%= form_with(model: [ @exam, @exam.questions.build ], local: true) do |form| %>
  <p>
    <%= form.label :question_description %><br>
    <%= form.text_area :question_description, :rows => "10", :style => 'width:100%;' %>
  </p>
  <p>
    <div class="form-buttons">
    <%= form.submit 'Add Question', class: 'btn btn-primary' %>
    </div>
  </p>
<% end %>