<%= link_to("<< Back to List", users_path, :class => 'back-link') %>

<div class="candidate delete">
  <h2>Delete Candidate</h2>

  <%= form_for(@candidate, :method => 'delete') do |f| %>

    <p>Are you sure you want to permanently delete the candidate?</p>

    <p class="reference-name"><%= f.object.name %></p>

    <div class="form-buttons">
      <%= f.submit("Delete Candidate") %>
    </div>

  <% end %>
</div>