<%= link_to("<< Back to List", exams_path, :class => 'back-link') %>

<div class="exam new">
  <h2>Add New Exam</h2>
    <%= form_for @exam do |f| %>
    Exam Name: 
    <%= f.text_field(:exam_name) %>
    <div class="form-buttons">
      <%= f.submit("Create Exam") %>
    </div>
    <% end %>
</div>